:root {
    ---main-color: #fdce16;
    --padding-top: 100px;
    --padding-bottom: 100px;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Raleway', sans-serif ;
}
li {
    list-style: none;
}
/* Start Navbar */
@media (max-width:768px) {
    .navbar .navbar-toggler {
        display: block !important;
        margin: 10px 0;
    }
}

.nav-item{
    border-top: 2px solid transparent ;
    padding-top: 10px;
    padding-bottom: 10px;
}

.nav-item.active{
    border-top-color: var(---main-color)
}

.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-item:hover>.nav-link{
    color:var(---main-color);
}
/* End Navbar */

/* Start Carousel */
@media(min-width: 1200px) {
    .carousel-item {
        height: 90vh;
    }
}

.carousel-control-next,
.carousel-control-prev
 {
    background-color: transparent;
}
/* End Carousel */

/* Start Cards */
.cards{
    padding-top: var(--padding-top);
}

.card {
    margin-bottom: 80px;
}

.icon {
    top: -50px;
    left: 50%;
    border: 1px solid #ccc;
    width: 100px;
    height: 100px;
    transform: translateX(-50%) rotate(45deg);
    background: #fff;
    transition: .3s background-color;
}

.icon i {
    font-size: 50px;
    transform: rotate(-45deg);
}

.card.active .icon {
    background-color: var(---main-color);
}
.card.active .btn {
    color: var(---main-color);
}
.card:hover .icon {
    background-color: var(---main-color);
}
.card:hover .btn {
    color: var(---main-color);
    transition: .3s color;
}
.card-title {
    padding-top: 60px;
}
.title-bottom-line {
    width: 50px;
    height: 4px;
    margin: 10px auto 20px auto;
    border-top: 1px solid #c9c9c9;
    border-bottom: 1px solid #c9c9c9;
}
/* End Cards */

/* Start About Us */
.about-us {
    background-color: var(---main-color);
    background-image: url(../image/site-img05.png);
}

.about-us .container .content {
    align-items: flex-end;
}

@media (max-width: 990Px) {
    .about-us .container .content {
        flex-direction: column;
        display: flex;
        align-items: stretch;
    }
}

.box {
    flex-basis: 45%;
    margin-right: 5%;
}
.box.one h1{
    font-size: 45px;
    font-weight: bold;
    margin: 0 0 20px 0;
    padding:80px 0 0 ;
    text-transform: uppercase;
}

.box.one img {
    width: 361px;
    margin: 0 0 40px 0;
    padding: 0;
}

.box.one h5 {
    font-size: 18px;
    line-height: 1.5;
    font-style: normal;
}

.box.one p {
    color: #161616;
}

.box.two img {
    width: 100%;
    margin: 17px 0 0 0;
    padding: 0;
}
/* End About Us */

/* Start Projects */
.projects {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-image: url(../image/parallax_bg1.jpg);
    position: relative;
}

.projects::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .2);
    z-index: -1;
}

.projects .top-header h1 {
    color:var(---main-color);
}

.text {
    color: #fff;
}

.line {
    height: 1px;
    background: #4e4e4e;
}
.icons {
    margin-left: 15px;
    font-size: 30px;
}
.socail i {
    width: 50px;
    height: 50px;
    font-size: 22px;
    background-color: #fff;
    border: 1px solid #c2c2c2;
    color: #161616;
    transform: rotate(45deg);
    margin-right: 16px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    transition: .25s;
    margin-bottom: 25px;
}
.socail i:hover {
    background-color: var(---main-color);
    color: #fff;
}
.socail i::before{
    transform: rotate(-45deg);
}
.projects .fas.fa-share-square {
    font-size: 22px;
}
/* End Projects */

/* Start Our Process */
.our.process {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

.our.process .top-header p {
    width: 60%;
    margin: 10PX auto 60px auto;
    color: #727272;
}

.paragraph {
    color: #727272;
}

.box:hover img {
    color: #000;
}

.transform-image:hover {
    transform: translateX(30px);
}

.text-one {
    transition: .25s ease-in-out;
}
.text-one:hover {
    color: var(---main-color);
}
/* End Our Process */

/* Start Our Skills */
.our-skills {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-image: url(../image/site-img14.jpg);
}

.our-skills .top-header {
    text-align: center;
}

@media(max-width: 576px) {
    .our-skills .container .content-skills {
        flex-direction: column;
    }

    .our-skills .container .content-skills .section-left {
        margin-bottom: 20px;
    }
}

.our-skills .container .line-img {
    border-bottom: 10px solid #161616;
}

.section-left {
    margin-bottom: 25px;
}

.progress-bar {
    background-color: black;
}
/* End Our Skills */

/* Start Team */
.team {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

@media (max-width: 990px) {
    .portfolio-content {
        flex-direction: column;
    }
}
.team .top-header p{
    width: 60%;
    margin: 10PX auto 60px auto;
    color: #727272;
}

.title-bottom-line1 {
    width: 195px;
    height: 5px;
    border-top: 1px solid #a2a2a2;
    border-bottom: 1px solid #a2a2a2;
    padding: 0;
    margin: 20px auto 18px auto;
}

.filter:hover .image-s {
    background-color: var(---main-color);
}

.socail-icon li i:hover {
    background-color: var(---main-color);
}

.filter:hover h5,
.filter:hover span {
    color: var(---main-color);
}

.team-imf-fream {
    position: relative;
    width: 252px;
    height: 252px;
    background-color: #fff;
    margin: 105px 0 0 180px;
    padding: 0;
    border: 1px solid #d9d9d9;
    transform: rotate(-45deg);
    transform-origin:0 100%;
    transition-property: background-color,color;
    transition-duration: .3s;
    transition-timing-function: ease-out;
}

.team-img-shape {
    position: absolute;
    width: 215px;
    height: 215px;
    background-color: #fff;
    margin: 40px;
    left: -22px;
    top:-22px;
    transform-origin:0 100%;
    overflow: hidden;
}

.team-img-three {
    background-image: url(../image/site-img20.jpg);
    transform: rotate(45deg);
}
.team-img-three img{
    position: relative;
    bottom: 35px;
    right: 80px;
}

.text-info h5 {
    color: #000;
}
.team-img-overley{
    opacity: 0;
}
.filter:hover .team-img-overley {
    position: absolute;
    content: "";
    width: 215px;
    height: 215px;
    background-color: #00000090;
    margin: 138px 0px 0px 203px;
    padding: 0px;
    left: -6px;
    opacity: .9;
    top: -22px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    overflow: hidden;
    z-index: 100;
    transition: opacity 0.3s ease-in-out 0s;
}
.filter:hover .team-imf-fream {
    background-color: var(---main-color);
    border: 1px solid var(---main-color);
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.filter:hover .title-bottom-line1 {
    border-top: 1px solid var(---main-color);
    border-bottom: 1px solid var(---main-color);
    color: var(---main-color);
}
/* End Team */

/* Start Protofolio */
.portfolio {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: var(---main-color);
}

.icon-circle {
    width: 125px;
    height: 125px;
    padding: 10px;
    text-align: center;
    margin: 85px auto 20px auto;
    border-radius: 50%;
    border: 2px solid #fff;
}

.circle-inner {
    width: 100px;
    height: 100px;
    padding: 0;
    margin: 0;
    border-radius: 50%;
    text-align: center;
    background-color: #fff;
}

.circle-inner i {
    line-height: 96px;
    color: #161616;
}
/* End Protofolio */

/* Start Services */
.services {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}

@media (max-width:1100px) {
    .services .container .parent {
        flex-direction: column;
    }
    .services .container .parent .ser-right{
        margin-bottom: 40px;
    }
}

@media (max-width: 768px) {
    .services .parent .ser-left .serv-sec div {
        margin-bottom: 52px;
    }
}

@media (max-width: 576px) {
    .services .parent .ser-left .child {
        margin-left: 80px;
    }
    .services .parent .ser-left .child .subsecribe {
        margin-left: -80px;
    }
}

.services .top-header p {
    width: 60%;
    margin: 10px auto 60px auto;
    color: #727272;
}

.services .btn-outline {
    border: 1px solid #ccc;
}

.btn-outline:hover {
    background-color: var(---main-color);
    color: #fff;
    border: 1px solid var(---main-color);
}

.services .parent .ser-left .serv-sec {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
    margin-bottom: 40px;
}

.services .parent .ser-right .ser-list li::before {
    font-family: 'Font Awesome 5 Free';
    content: '\f058';
    color: var(---main-color);
    padding-right: 3px;
}

.services .parent .ser-left .serv-sec div{
    width: 128px;
    height: 128px;
    border: 1px solid #ccc;
    transform: rotate(45deg);
    margin-right: 52px;
    line-height: 100px;
    transition: .25s background-color;
    transition-duration: .3s;
}

.services .parent .ser-left .serv-sec div:hover {
    background-color: var(---main-color);
    border-color: var(---main-color);
    color: #fff;
}

.services .parent .ser-left .serv-sec div span {
    padding: 50px;
    transform: rotate(-45deg);
}

.services .parent .ser-left .child .sub i {
    font-size: 40px;
    margin-right: 15px;
}

.services .parent .ser-left .child .input-group input {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.services .parent .ser-left .child .input-group span {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
/* End Services */

/* Start Blog */
.blog{
    padding-top: 100px;
    padding-bottom: 100px;
    background-image: url(../image/parallax_bg2.jpg);
}

@media (max-width: 990px) {
    .blog-content {
        flex-direction: column;
    }

    .blog .one-half {
        width: 100%;
    }
    .top-header p {
        width: 90% !important;
    }
}

.blog::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .2);
    z-index: -1;
}

.blog .top-header h1 {
    color: var(---main-color);
}

.blog .top-header p {
    width: 60%;
    margin: 0 auto 60px auto;
    color: #727272;
}

.one-half .post-info-holder {
    width: 135%;
    float: left;
    padding: 15px;
    margin: -273px 0px 0px 191px;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.one-half {
    width: 48%;
    position: relative;
    margin-right: 4%;
    float: left;
}
.one-half .post-img-holder {
    width: 100%;
    padding: 0;
    margin: 0px 0 0 -45px;
}

.one-half .post-img-holder .date span {
    font-size: 30px;
    font-weight: 600;
    display: block;
    color: #161616;
    text-align: center;
    padding: 12px 0 0 0;
    margin: 0px;
}

.one-half .post-img-frame {
    position: relative;
    width: 192px;
    height: 192px;
    background-color: #fff;
    margin: 103px 0 0 180px;
    padding: 0px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.one-half .post-img-shape {
    position: absolute;
    width: 170px;
    height: 170px;
    background-color: #fff;
    margin: 40px;
    padding: 0px;
    left: -29px;
    top: -29px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    overflow: hidden;
}

.one-half .post-img {
    width: 310px;
    height: 310px;
    margin: -26px 0 0px -73px;
    padding: 0 0 0 0;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.one-half .post-info-inner {
    width: 100%;
    float: left;
    padding: 0px 0px 30px 80px;
    margin: 0px;
    border: 1px solid #161616;
}

.one-half .post-info-inner h3 {
    font-size: 27px;
    line-height: 30px;
    margin-bottom: 18px;
    font-style: normal;
    padding-top: 20px;
    margin-bottom: 9px;
    
}

.one-half .post-info-inner .bottom-line {
    width: 140px;
    height: 5px;
    border-bottom: 1px solid #969696;
    border-top: 1px solid #969696;
    float: left;
    padding: 0;
    margin: 3px 0 10px 0;
}

.one-half .post-info {
    width: 100%;
    float: left;
    padding: 0;
    margin: 0;
}

.one-half .info {
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    float: left;
    color: #727272;
    font-weight: normal;
    padding: 0;
    margin: 0px 5px 15px 0;
}

.one-half p {
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 23px;
    color: #727272;
}
.one-half .post-info-inner h3:hover {
    color: #727272;
    cursor: pointer;
}

.one-half .post-info-holder:hover {
background-color: var(---main-color);
}

.one-half .post-info-holder:hover .info,
.one-half .post-info-holder:hover p {
    color: #161616;
}
.one-half .post-info-holder:hover .bottom-line{
    border-top: 1px solid #161616;
    border-bottom: 1px solid #161616;
}

@media(max-width: 576px) {
    .blog .one-half .post-info-holder {
        width: 100%;
        margin: 0px;
    }
    .blog .container .blog-content .box-blog .one-half .post-img-holder {
     margin: -20px 0; 
    }
    .blog .container .blog-content .box-blog .one-half .post-info-inner {
        padding: 0px 0px 10px 20px;
    }
}
/* End Blog */

/* Start Pricing */
.pricing {
    padding-top: var(--padding-top);
}

.pricing .top-header p{
    width: 60%;
    color: #727272;
    margin: 0 auto 60px auto;
}

.pricing .card {
    background-color: #161616;
    border: 0;
    padding: 0;
    transition: .3s;
}

.pricing .card:hover {
    background-color: var(---main-color);
}
.pricing .card:hover .plan-info h2,
.pricing .card:hover .plan-features li,
.pricing .card:hover .plan-info span{
    color: #000;
    border-color: #fff;
}
.pricing .pricing-circle {
    position: absolute;
    width: 140px;
    height: 140px;
    font-size: 40px;
    color: #fff;
    line-height: 130px;
    text-align: center;
    border-radius: 50%;
    background-color: #4f4f4f;
    margin: -41px 0 0 125px;
}
.pricing .plan-info-outer {
    width: 100%;
    float: left;
    padding: 15px;
    text-align: center;
    margin: 0px;
}
.pricing .card:hover .plan-info {
    border: 1px solid #fff;
}

.pricing .plan-info {
    width: 100%;
    float: left;
    padding: 0;
    text-align: center;
    margin: 0px;
    border: 1px solid #161616;
}

.pricing .plan-info h2 {
    font-size: 40px;
    font-weight: 400;
    color: #fff;
    margin: 60px 0 10px 0;
}
.pricing .plan-info span {
    font-size: 14px;
    font-weight: normal;
    padding: 0;
    color: #827c7c;
}
.pricing .title-bottom-line1 {
    width: 140px;
    height: 4px;
    padding: 0;
    border-bottom: 1px solid #4f4f4f;
    border-top: 1px solid #4f4f4f;
    text-align: center;
    margin: 18px auto 15px auto;
}

.pricing .plan-features {
    width: 100%;
    float: left;
    text-align: center;
}
.pricing .plan-features li{
    color: #827c7c;
    padding: 15px 0;
    border-bottom: 1px solid #2d2d2d;
}
.btn-dark {
    color: #827c7c;
    padding: 10px 50px;
    margin: 40px auto;
    border: 1px solid #2d2d2d;
}
.pricing .card:hover .btn-dark {
    color: #fff;
}
/* End Pricing */

/* Start Our Clints */
.our-clints {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-image: url(../image/parallax_bg3.jpg);
}

@media (max-width: 990px) {
    .our-clints-content {
        flex-direction: column;
    }

    .our-clints .one-half-clint {
        width: 100%;
        margin-bottom: 20px;
    }
}

.our-clints .top-header h1 {
    color: var(---main-color);
}
.our-clints .top-header p {
    width: 60%;
    color: #727272;
    margin: auto;
}
.one-half-clint {
    width: 48%;
    position: relative;
    margin-right: 4%;
    float: left;
}

.one-half-clint .clint-img-holder {
    width: 100%;
    float: left;
    padding: 0px;
    margin: 55px 0px 0px 85px;
}

.one-half-clint .clint-img-frame {
    position: relative;
    width: 120px;
    height: 120px;
    background-color: #fff;
    margin: -0px;
    padding: 0px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}

.one-half-clint .clint-img-shape {
    position: absolute;
    width: 96px;
    height: 96px;
    background-color: #fff;
    margin: 40px;
    padding: 0px;
    left: -28px;
    top: -28px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 0 100%;
    transform-origin: 0 100%;
    overflow: hidden;
}
.one-half-clint .clint-img {
    width: 310px;
    height: 310px;
    margin: -26px 0 0px -73px;
    padding: 0 0 0 0;
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.one-half-clint .clint-img img {
    position: relative;
    top: 50px;
}
.one-half-clint .text-holder-outer {
    position: relative;
    width: 150%;
    height: auto;
    margin: -168px 0px 0px 156px;
    float: left;
    padding: 12px;
    background-color: #fff;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    transition-timing-function: ease-out;
}
.one-half-clint .text-holder{
    width: 100%;
    margin: 0px;
    float: left;
    padding: 20px 20px 20px 30px;
    border: 1px solid #fff;
}

.one-half-clint p {
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 23px;
    color: #727272;
}
.one-half-clint h6 {
    font-size: 16px;
    line-height: 21px;
    margin-bottom: 14px;
    font-style: normal;
    margin-bottom: 3px;
}

.one-half-clint span b {
    font-weight: normal;
    color: var(---main-color);
}
.one-half-clint .text-holder-outer:hover {
    background-color: var(---main-color);
}
.one-half-clint .text-holder-outer:hover .text-holder{
    border: 1px solid #fff;
}

.one-half-clint .text-holder-outer:hover .text-holder p,
.one-half-clint .text-holder-outer:hover .text-holder b {
    color: #161616;
}

@media(max-width: 576px) {
    .our-clints-content .one-half-clint .text-holder-outer {
        width: 100%;
        margin: 0px;
    }
}

/* End Our Clints */

/* Start Section */
.section-holder {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
}
.section-holder .arrow-dec .arrow {
    text-align: center;
}

.section-holder .new-img-holder {
    border-bottom: 10px solid var(---main-color);
    position: relative;
}

.section-holder h4 {
    font-size: 22px;
    font-style: normal;
    margin-bottom: 9px;
    line-height: 25px;
}
.section-holder .new-info {
    width: 89%;
    font-size: 13px;
    margin: 0;
    padding: 0 0 13px 0;
}
.section-holder .new-info span {
    color: #a7a7a7;
    margin: 0 5px 0 0;
}
.section-holder p {
    font: 14px 'Open Sans', sans-serif;
    font-weight: normal;
    line-height: 23px;
}
/* End Section */

/* Start Footer */
.footer {
    padding-top: var(--padding-top);
    padding-bottom: var(--padding-bottom);
    background-color: #161616;
}
.footer .footer-bottom-line {
    border-bottom: 1px solid #2e2e2e;
    width: 100%;
    height: 2px;
}
.footer .footer-img img {
    border: 2px solid var(---main-color);
}
.footer .quick-link li:hover {
    color: var(---main-color);
    cursor: pointer;
}
.footer .social-media li {
    margin: 0 10px 0 0;
}
.footer .social-media li i {
    width: 50px;
    height: 50px;
    border: 1px solid #454545;
    font-size: 22px;
    color: #fff;
    text-align: center;
    line-height: 2.2;
    cursor: pointer;
}
.footer .social-media li:hover {
    background-color: var(---main-color);
}
.footer .social-media li:hover i {
    color: #161616;
}
.footer h4 {
    font-size:14px;
    color: var(---main-color);
}
.footer .address {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    padding: 0 0 15px 0;
    color: #666666;
    margin: 0;
    float: left;
}
.footer p, .footer-info {
    font-size: 14px;
    color: #666666;
}

.footer .submit {
    background-color: var(---main-color);
    border-color: var(---main-color);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.footer input[type="text"] {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    border: none;
}

.footer .tags {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 7px;
}

.footer .tags li {
    border: 1px solid #ccc;
    color: #ccc;
    padding: 2px 10px;
    text-align: center;
    transition: .3s;
    cursor: pointer;
}

.footer .tags li.active {
    border-color: var(---main-color);
    color: var(---main-color);
}

.footer .tags li:hover {
    border-color: var(---main-color);
    color: var(---main-color);
}
/* End Footer */

/* For Button UP  */

.arrow-up {
    position: fixed;
    width: 40px;
    height: 40px;
    right: 10px;
    bottom: 20px;
    background-color: tomato;
    border-radius: 5px;
    border: none;
    transition: .3s;
    overflow: hidden;
    display: none;
}

.arrow-up i {
    color: #fff;
}

.arrow-up::before {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    background-color: rgba(113, 59, 49, 0.5);
    transition: .3s;
    z-index: -1;
}

.arrow-up:hover::before {
    top: 0;
} 

/* Start Settings Box */
.settings-box {
    position: fixed;
    width: 200px;
    height: 400px;
    left: -200px;
    top: 150px;
    background-color: #DDD;
    transition: .5s;
    z-index: 999;
}

.settings-box.open {
    left: 0px;
}

.settings-box .icon-set {
    position: absolute;
    width: 40px;
    height: 40px;
    right: -40px;
    top: 80px;
    background-color: #DDD;
}

.settings-box .icon-set i {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 40px;
    cursor: pointer;
}

.settings-box .option-box {
    text-align: center;
    margin: 10px;
    padding: 10px;
    background-color: #fff;

}

.settings-box .option-box h4 {
    color: #666;
    margin: 0;
    font-size: 14px;
}

.settings-box .option-box .colorlist {
    padding: 0;
}

.settings-box .option-box .colorlist li {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    margin: 10px auto 0 auto;
    opacity: .5;
}

.settings-box .option-box .colorlist li.active {
    opacity: 1;
}

.settings-box .option-box .colorlist li:first-child {
    background-color: #FF9800;
}

.settings-box .option-box .colorlist li:nth-child(2) {
    background-color: #E91E63;
}

.settings-box .option-box .colorlist li:nth-child(3) {
    background-color: #009688;
}

.settings-box .option-box .colorlist li:nth-child(4) {
    background-color: #03A9F4;
}

.settings-box .option-box .colorlist li:nth-child(5) {
    background-color: #4CAF50;
}
/* End Settings Box */